body{
  background-color: #2D3250;
  font-family: 'Lato', sans-serif !important;
}

input[type="text"]{
  display: block ;
  width: 100%;
}

label{
  display: block;
  margin: 3px;
  color: #7077A1 !important;
}


p{
  min-height: 50px;
}

#myForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainInfo-header{
  color: #365486 ;
}


#mainInfo-container{
  border-radius: 5%;
}


